:root {
    --background: #2c2c2c;

    background: var(--background);
}

* {
    margin: 0;
    font-family: 'Consolas';
    box-sizing: border-box;
}

.fondo-modal-bienvenida {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 100;
    background: #00000066;
}

.dentro-modal-bienvenida {
    background: #ddd;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 45dvw;
    padding: 20px;

    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;

    box-shadow: 5px 5px 0px #9b21ff;
}

.boton-cerrar-modal {
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;

    background: #ddd;
}

.boton-cerrar-modal:hover {
    border-top: 4px solid #000;
    border-left: 4px solid #000;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;

    background: #ccc;
    cursor: pointer;
}

.info-pag {
    position: fixed;
    top: 0;
    width: 100dvw;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 50px;

    background: #ddd;
    box-shadow: 5px 5px 0px #9b21ff;

    border-bottom: 4px solid #000;
}

.pc-logo {
    width: 40px;
    align-self: center;
    margin-left: 20px;
}
.titulo-pagina-nav {
    font-size: 1.3rem;
    place-self: center;
}

.github-link-btn {
    align-self: center;
    justify-self: end;
    padding: 5px 10px;

    font-size: 0.85rem;
    margin-right: 20px;
    background: #ccc;

    border-top: 4px solid #000;
    border-left: 4px solid #000;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.github-link-btn a {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
